<p *ngIf="blueClass">button is blue</p>
<button (click)="blueClass = !blueClass" [ngClass]="{ blue: blueClass }" [ngStyle]="{'font-size.px':fontSize}">
  Change
</button>
<hr />
<input type="text" (keyup)="changeImage($event)" [value]="imgUrl" />
<app-post *ngFor="let image of images; let i = index"  [postUrl]="image" (imgSelected)="logImg($event)">
  <p>{{i}} - test component content</p>
</app-post>
<p>{{ title | titlecase }}</p>
<p>{{ getName() }}</p>
<p>{{ 13 + 13 }}</p>
<p>{{ date | date : "longDate" }}</p>
